.btn-wmu{
	background:none;
	color:#fff;
	border:none;
	text-align:center;
	display:inline-block;
	width:100%;
	text-transform: uppercase;
}

.btn-wmu:after{
	
		background:url(../img/btn_underline.svg);
		content: "";
		width: 40px;
		height: 2px;
		display:block;
		margin:4px auto;

		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

.btn-wmu:hover{
	background:none;
	color:#fff;
}

.btn-wmu:hover:after{
	width: 120px;	
}